<head>
  <title>MyArxiv</title>
</head>

<body>
	<div class="container"> 
  		<header>
  			<h1>MyArxiv</h1>
  			<div class="login">
  				{{> loginButtons}}  			
  			</div>

  			{{#if currentUser}}
  			<div class="login">
  				<p class="welcome">Welcome, {{currentUser.username}}!</p>
  			</div>
  			<form class="new-title">
  				<input type="text" name="title" placeholder="Type to add new title"/>
  			</form>
  			{{else}}
  				<p>Please sign in to save articles!</p>
  			{{/if}}

  		
  		</header>

  		<div class="today">
  			<h3>Select from the following articles to store for later reading:</h3>
  		
  			<ul class="today">
  				{{#each articles}}
  					{{> article}}
  				{{/each}}
  			</ul>
  		</div>

  		<div class="myarticles">
  			<h3>My Saved Articles</h3>
			<p>Here are my {{savedCount}} saved articles:</p>

  			<ul>
  				{{#each articles}}
  					{{> article}}
  				{{/each}}
  			</ul>
  		</div>



  	</div>

</body>

<template name="article">
  <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
  	<button class="delete">&times;</button>

  	<input type="checkbox" checked="{{checked}}" class="toggle-checked"/>
  	
  	{{#if isOwner}}
  		<button class="toggle-private">
  			{{#if private}}
  				Private
  			{{else}}
  				Public
  			{{/if}}
  		</button>
  	{{/if}}

  	<span class="text">{{title}}</span>

  </li>

</template>

